<div class="container">
    <div>
        <select [(ngModel)]="selectedCode" #select>
            <option *ngFor="let c of model" [value]="c.alpha2Code">{{ c.name }}</option>
        </select>
        <input [(ngModel)]="name" >
        <button class="btn teal" (click)="search()">Search</button>
    </div>
    <div *ngIf="model2">
        <p>{{model2.probability}}</p>
        <p>{{model2.gender}}</p>
        <div class="progress">
            <div class="determinate" [ngStyle]="{ 'width': model2.probability * 100 + '%', 'background-color': model2.gender == 'male' ? 'blue' : 'red' }"></div>
        </div>
    </div>
</div>