<p>product-edit works!</p>

<form *ngIf="product as p">
    <div class="input-field">
        <!-- [] directive de type attribut  -->
        <!-- () directive de type evenement -->
        <!-- <input type="number" name="id" id="id" [(ngModel)]="p.id"> -->
        <input type="number" name="id" id="id" [ngModel]="p.id" (ngModelChange)="p.id = $event">
        <label for="id">ID</label>
    </div>
    <div class="input-field">
        <input type="text" name="title" id="title" [(ngModel)]="p.title">
        <label for="title">Title</label>
    </div>
</form>