<form [formGroup]="createForm" (submit)="onSubmitAction()">
    <div *ngIf="createForm.errors">{{ createForm.errors | json }}</div>
    <div class="input-field">
        <input name="title" id="title" formControlName="title" type="text">
        <label for="title">Titre</label>
        <div *ngIf="createForm.get('title').invalid">{{ createForm.get('title').errors | json }}</div>
    </div>
    <div class="input-field">
        <textarea name="shortDescription" id="shortDescription" formControlName="shortDescription"></textarea>
        <label for="shortDescription">Description courte</label>
    </div>
    <div class="input-field">
        <input name="images" id="images" formControlName="images" type="file">
        <!-- <label for="images">Image</label> -->
    </div>
    <div class="input-field">
        <input name="price" id="price" formControlName="price" type="number">
        <label for="price">Titre</label>
    </div>
    <div class="input-field">
        <input type="text" list="categories" formControlName="category">
        <datalist id="categories">
            <option *ngFor="let item of Categories" [value]="categories[item]">{{ categories[item] }}</option>
        </datalist>
        <!-- <select name="categories" #select>
            <option *ngFor="let item of Categories" [value]="categories[item]">{{ categories[item] }}</option>
        </select>         -->
        <label for="categories">Categorie</label>
    </div>
    <button type="submit">Ajouter</button>
</form>