<div class="container">
    <p class="underline">Vous etes ici dans le module Demo</p>
    <ul>
        <li><a routerLink="/demo/demo1">Demo 1</a></li>
        <li><a routerLink="/demo/demo2">Demo 2</a></li>
        <li><a routerLink="/demo/demo3">Demo 3</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>