<table class="striped">
    <thead>
        <tr>
        <th>Title</th>
        <th (click)="isLongDescriptionDisplayed = !isLongDescriptionDisplayed">Description</th>
        <th *ngIf="isLongDescriptionDisplayed">Long Description</th>
        <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <!-- * => Directive structurelle -->
        <!-- [] => Directive attributes ==> !!!dynamique -->
        <!-- () => Directive d'évenement -->
        <ng-container *ngFor="let product of products$ | async">
        <tr *ngIf="product.inStock; else notInStock" [class]="{'new': product.state == 1}" [routerLink]="['./', product.id]">
            <!-- {{}} => binding One-Way -->
            <!-- ([ngModel]) => binding Two-Way -->
            <!-- #xxx => binding local -->
            <td>{{ product.title }}</td>
            <td>{{ product.shortDescription }}</td>
            <td *ngIf="isLongDescriptionDisplayed">{{ product.longDescription}}</td>
            <td>{{ product.price | currency:'2.0-2':'€' }}</td>
        </tr>
        <ng-template #notInStock>
            <tr [style.color]="product.state == 1 ? 'blue': 'red'">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td colspan="2" style="align-content: center;">Pas en stock</td>
            </tr>
        </ng-template>
        </ng-container>        
    </tbody>
</table>